---
const { title = "Focalis Stratega Group", description = "Estrategia, IA y Sostenibilidad para convertir proyectos de ingeniería en resultados verificables y valor empresarial." } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="application-name" content="Focalis Stratega Group" />
		<meta
			name="description"
			content={description}
		/>
		<meta
			name="keywords"
			content="Ingeniería, Agua, Tratamiento de Agua, Energías Renovables, Sostenibilidad, IA, Consultoría de Ingeniería, Proyectos Verdes, Gestión de Proyectos, Inteligencia Artificial, Transición Energética, Huella de Carbono, ISO/IEC, PMI, Desarrollo Sostenible"
		/>
		<meta name="author" content="Focalis Stratega Group" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#ffffff" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
